.Rproj.user
.Rhistory
.RData
.Ruserdata
literature/*
archive/*
*/archive/*
data/*
ext_data/*
images/*
LISEM_runs/*
documenten_en_literatuur/*
LISEM_data/*
spatial_data/*
images/*
fieldwork/*
*.html
*.docx
*.xlsx
*.map
*.tbl
*.inp
config.yaml
sources/setup/calibration/cal_OM_swatre.csv
sources/setup/calibration/swatre_NBS.csv
