.Rproj.user
.Rhistory
.RData
.Ruserdata
literature/*
archive/*
*/archive/*
data/*
ext_data/*
images/*
LISEM_runs/*
documenten_en_literatuur/*
LISEM_data/Geul_*
LISEM_data/Base_*
LISEM_data/subcatchments/*
LISEM_data/rain/*
LISEM_data/HPC_*
LISEM_data/calibration/*
images/*
fieldwork/*
*.html
*.docx
*.xlsx
*.map
*.tbl
LISEM_data/params/*
*.inp
config.yaml