.Rproj.user
.Rhistory
.RData
.Ruserdata
literature/*
*/archive/*
data/*
ext_data/*
images/*
LISEM_runs/*
documenten_en_literatuur/*
LISEM_data/Geul_*
LISEM_data/subcatchments/*
LISEM_data/rain/*
images/*
*.html
*.docx
*.xlsx
*.map
*.tbl

